# Ignore hidden garbage
.idea/
.ipynb_checkpoints/
.DS_Store
__pycache__/

# Ignore data files.
data/
data.csv
index.json
NN/organization_data.csv
NN/year_to_year_data.csv

# Current files in development.
sandbox.ipynb
